<!-- <p>create-todo works!</p> -->
<div class="container w-50">
    <h3 class="text-primary" >Add Users</h3>
</div>
<div class="container w-50">
    <form action="" [formGroup]="todoForm">
        <div class="form-group">
            <label for="">Product Name</label>
            <input type="text" class="form-control" placeholder="Enter Product " formControlName="name">
            <div class="text-danger" *ngIf="getControls('name')?.hasError('required')">Product is required</div>
        </div>
        <div class="form-group">
            <app-options (changeFilter)="statusFilter($event)"   ></app-options>
        </div>
        <!-- {{'perumal' | append: " "+ 'palanisamy' | titlecase}} -->
  
        <!-- <div class="form-group">
            <label for="">email</label>
            <input type="text" class="form-control" formControlName="todo_name">
            <div class="text-danger" *ngIf="getControls('todo_name')?.hasError('required')">Email is required</div>
        </div> -->
       <!-- <div class="container-check p-10" >
         <div class="form-check">
            <input class="form-check-input" type="radio" id="completed" name="todo_status" value="true" formControlName="todo_status">
            <label class="form-check-label" for="completed">Completed</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="not-completed" name="todo_status" value="false" formControlName="todo_status" checked>
            <label class="form-check-label" for="not-completed">Not Completed</label>
          </div>
       </div> -->
        <button class="btn btn-primary" (click)="formSubmit(todoForm)">submit</button>
    </form>
</div>
<!-- <p class="d-flex justify-content-center"> {{filteredUsers | json}} </p> -->
<div class="container pt-10">
    <table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>SNO</th>
            <th>username</th>
            <th>Todos</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let items of filteredUsers let i = index">
            <th style="cursor: pointer;" (click)="navigateProductPage(items.id)">{{i+1}}</th>
            <th>{{items.name}}</th>
            <th *ngIf="!isEditable">{{ items.todo_name }}</th>
            <th *ngIf="isEditable" [contentEditable]="isEditable" #text  (keyup)="onEdit($event , items.id)">
              {{ items.todo_name }}
            </th>            
            <th>{{items.todo_status == "true" ? "Available" : "Out of stock" | titlecase  }}</th>
            <th >
                 <button class="btn btn-sm - btn-success"  [disabled]="isEditable" (click)="onEdit(items.id , $event)"> Edit Todo</button>
                 <button class="btn btn-sm - btn-danger btn-delete" (click)="deleteTodo(items.id , $event)"> Delete Todo</button>
                 <button class="btn btn-sm - btn-warning btn-warning"  [disabled]="!isEditable" (click)="saveTodo($event , items.id)"> Save Todo</button>
            </th>
        </tr>
    </tbody>
    </table>
</div>